:root{
    --cor-bg: #ffffff;
    --cor-texto: #14248A;
    --cor-botao: #14248A;
    --cor-botao-texto: #ffffff;
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    flex-direction: column;
    background-color: var(--cor-bg);
    color: black;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    width: 100vw;
    flex-direction: row;
}
.tema-escuro{
    --cor-bg: #14248A;
    --cor-texto: #ffffff;
    --cor-botao: #ffffff;
    --cor-botao-texto: #14248A;
}
#toolbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(213, 213, 213);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 20px;
    width: 75vw;
    height: 50px;
}
#divMain{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 400px;
}
button{
    border: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgb(213, 213, 213);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
    padding: 7px;
    font-weight: bold;
    overflow: hidden;
    max-width: 85px;
    min-width: 40px;
    height: 50px;
}
button:hover{
    background-color: rgb(228, 228, 228);
}
#title{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: bold;
    padding: 7px;
}
.separetor{
    width: 1px;
    background-color: black;
    height: 23px;
    margin: 0px;
    padding: 0px;
    opacity: 0.6;
}
#areaContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.titleDoc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px;
}
#editor{
    padding: 2px;
    min-height: 50vh;
    outline: none;
    width: 75vw;
    max-width: 75vw;
}
#editor img{
    width: 60%;
    max-width: 250px;
    height: auto;
}
input{
    margin: 2px;
}
font[size="1"] { font-size: 8px; }
font[size="2"] { font-size: 10px; }
font[size="3"] { font-size: 12px; }
font[size="4"] { font-size: 16px; }
font[size="5"] { font-size: 18px; }
font[size="6"] { font-size: 24px; }
font[size="7"] { font-size: 32px; }
@media print{
    #toolbar, #title, [vw]{
        display: none !important;
    }
    #divMain{
        align-items: center;
    }
    #editor{
        padding: 0px;
    }    
}
#vlibrasContent{
    overflow: hidden;
    width: 100%;
}
#stopRecordingBtn{
    display: none;
}