:root{
    --cor-bg: #ffffff;
    --cor-texto: #14248A;
    --cor-botao: #14248A;
    --cor-botao-texto: #ffffff;
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    flex-direction: column;
    background-color: var(--cor-bg);
    color: var(--cor-texto);
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 100vw;
    flex-direction: row;
}
.tema-escuro{
    --cor-bg: #14248A;
    --cor-texto: #ffffff;
    --cor-botao: #ffffff;
    --cor-botao-texto: #14248A;
}
#headerDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 100%;
}
#headerText{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.5em;
}
#iconTheme{
    font-size: 2.5em;
    color: var(--cor-texto);
    font-weight: bold;
}
#themeButton{
    background-color: var(--cor-bg);
    border: none;
    cursor: pointer;
}
#mainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
}
form{
    display: flex;
    flex-direction: column;
    width: 30%;
}
label{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}
#email{
    height: 40px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border: none;
}
#pwd, #ConfirmPwd{
    height: 40px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border: none;
}
#submit{
    border: none;
    border-radius: 10px;
    height: 40px;
    background-color: var(--cor-botao); 
    color: var(--cor-botao-texto);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
}